{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Blackjack</h1>
    <p>
      This is an easy version of BlackJack. There are no suits but only nunmbers of cards.
      A is 11 points. J Q K are 10 points. You can choose whether or not to get one more card.
      Yet remember, if your total points exceed 21 points, you lose. Only when your points are greater than dealer's points, you win.
    </p>
  </div>
  <p>Here is round {{bj['counter']}}:</p>
  {{bj['c_r']}}
  <br>
  <p>Dealer current points: {{bj['c_p']}}</p>
  <br>
  {{bj['u_r']}}
  <br>
  <p>Player current points: {{bj['u_p']}}</p>
  <br>
  {{bj['result']}}
  <form method="post" action="/blackjack/play">
    One more card? Yes or No: <input type="text" name="one_more_card">
    <br>
    <input type="submit" class="btn btn-lg btn-danger">
  </form>
{% endblock %}
