{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Blackjack</h1>
  </div>
  <p>Here is round {{bj['counter']}}:</p>
  {{bj['c_r']}}
  <br>
  <p>Dealer current points: {{bj['c_p']}}</p>
  <br>
  {{bj['u_r']}}
  <br>
  <p>Player current points: {{bj['u_p']}}</p>
  <br>
  {{bj['result']}}
  <form method="post" action="/blackjack/play">
    One more card? Yes or No: <input type="text" name="one_more_card">
    <br>
    <input type="submit" class="btn btn-lg btn-danger">
  </form>
{% endblock %}
