{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Chatbot</h1>
    <p5>Here is your personalized chat robot who lead you to any game you want to play on this website</p1>
    <p5>Games we have: hangman, blackjack, guess a number, book of answers <p2>
  </div>
  <form method="post" action="/chatbot/play">
    Input the game you want to play: <input type="text" name="game">
    <br>
    <input type="submit" class="btn btn-lg btn-danger">
  </form>
  <br>
  {{guidance}}
{% endblock %}
