{% extends "fancylayout.html" %}

{% block content %}
    <div class="jumbotron">
      <h1>Guess a Number: method to win</h1>
      <p>Binary search is an efficient way to guess number. The following picture clearly demonstrates how it works.</p>
      <div align="center">
        <img src="https://s3-us-west-2.amazonaws.com/ib-assessment-tests/problem_images/binary_search.gif" width="500">
      </div>
      <br>
      <p>
        If you want to learn more about
        <a href="https://www.khanacademy.org/computing/computer-science/algorithms/binary-search/a/binary-search"
        class="btn btn-lg btn-info">
          Binary Search
        </a>
         ,click and learn more on Khand Academy.
     </p>
    </div>

{% endblock %}
