{% extends "fancylayout.html" %}

{% block content %}
    <div class="jumbotron">
      <h1>Game Center</h1>
      <p>Welcome to our Game Center! We have hangman, blackjack and other games! Hope you enjoy!</p>
      <br>
      <p>You can directly click buttons on the top to play.</p>
      <br>
      <p>You can use chatbot as a directory to games.</p>
      <a href='/chatbot/start'
         class="btn btn-lg btn-primary">
        Chatbot
      </a>
    </div>
    <p>{{surprise}}</p>
{% endblock %}
