{% extends "fancylayout.html" %}

{% block content %}
<div class="jumbotron" style="background:#F2F9FF">
  <h1>Team Bio
        <p>
          There are five members in our team. All of us are mid-year students.
          Names corresponding to picture are:
          <div align="center">
            <p>Emma Jammes Felix</p>
          </div>
          <div align="center">
            <p>Matthew Joey</p>
          </div>
        </p>
  </h1>
  <div align="center">
    <img src="https://lh5.googleusercontent.com/SwsqiGfPiTqUyDIDwV-aepLOxvqKYrLIRdk4nWfaMsuMzspxMsPUteR8j5Uqe-t7iUO1-QbSaaeOMHwPqcF0XsOsIy4jTCWlWlj-n-p5is_3Es2Z9JcSEqRT7Moa40dKT4PlLQOC" width="500">
  </div>
</div>

{% endblock %}
